{% extends "admin/base_site.html" %}
{% load admin_urls i18n %}

{% block breadcrumbs %}
    <div class="px-4 lg:px-12">
        <div class="container mb-12 mx-auto -my-3">
            <ul class="flex flex-wrap">
                {% url 'admin:index' as link %}
                {% trans 'Home' as name %}
                {% include 'unfold/helpers/breadcrumb_item.html' with link=link name=name %}

                {% url 'admin:accounts_officer_changelist' as link %}
                {% include 'unfold/helpers/breadcrumb_item.html' with link=link name=opts.verbose_name_plural|capfirst %}

                {% url 'admin:accounts_officer_change' original.pk as link %}
                {% include 'unfold/helpers/breadcrumb_item.html' with link=link name=original.full_name %}

                {% translate 'Cấp lại mật khẩu' as breadcrumb_name %}
                {% include 'unfold/helpers/breadcrumb_item.html' with link='' name=breadcrumb_name %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="content-main">
        <form method="post" novalidate>
            {% csrf_token %}

            {% include "unfold/helpers/messages/errornote.html" with errors=form.errors %}

            {% blocktranslate with name=original.full_name phone=original.phone asvar message %}Đặt mật khẩu mới cho {{ name }} ({{ phone }}). Cán bộ này sẽ cần dùng mật khẩu mới ngay lần đăng nhập tiếp theo.{% endblocktranslate %}
            {% include "unfold/helpers/messages/info.html" with message=message %}

            {% include "unfold/helpers/field.html" with field=form.new_password1 %}

            {% include "unfold/helpers/field.html" with field=form.new_password2 %}

            <div class="flex flex-col-reverse gap-3 items-center mt-2 lg:flex-row">
                <a href="{% url 'admin:accounts_officer_change' original.pk %}"
                   class="border font-medium px-3 py-2 rounded-md text-center text-sm transition-all w-full hover:bg-gray-50 lg:w-auto dark:border-gray-700 dark:hover:text-gray-200 dark:hover:bg-gray-800">
                    {% translate 'Hủy' %}
                </a>
                <button type="submit"
                        class="bg-primary-600 border border-transparent font-medium px-3 py-2 rounded-md text-sm text-white w-full lg:w-auto">
                    {% translate 'Cập nhật mật khẩu' %}
                </button>
            </div>
        </form>
    </div>
{% endblock %}
